@charset "UTF-8";
.notoEN-normal, .opacity-heading, .mainVisual__catch {
  font-family: "Noto Serif", serif;
}

.notoEN-italic, .level2-heading, .header__logo, .serviceList__title {
  font-family: "Noto Serif", serif;
  font-style: italic;
}

.buttonM {
  display: block;
  padding: 20px;
  background-color: #F7D43F;
  text-align: center;
  color: #171717;
  border-radius: 40px;
}

.buttonM:hover {
  text-decoration: none;
}

/******************************************************************

Stylesheet: ベーススタイル

******************************************************************/
.swiper {
  width: auto;
  height: 100vh;
}

body {
  font-family: 'Noto Serif JP', serif;
  letter-spacing: .05em;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

p {
  margin-bottom: 0;
}

.pc-only {
  display: inline;
}

.sp-only {
  display: block;
}

.level2-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 30px;
}

.level2-heading::after {
  content: "";
  display: block;
  width: 90px;
  height: 5px;
  margin-left: 30px;
  background-color: #282F35;
}

.level2-heading._white {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 90px;
  color: #fff;
}

.level2-heading._white::after {
  background-color: #fff;
}

.opacity-heading {
  margin-top: 40px;
  text-align: right;
  font-size: 40px;
  font-weight: 600;
  color: rgba(23, 23, 23, 0.05);
}

.opacity-heading._gray {
  text-align: left;
  color: #FFFFFF;
  opacity: .1;
}

/* .header
----------------------------------------*/
.header {
  position: fixed;
  top: 0;
  z-index: 100;
  padding: 0 15px;
  width: 100%;
  -webkit-transition: all .6s;
  transition: all .6s;
}

.header__container {
  padding: 15px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.header__logo {
  color: #fff;
}

.header._scroll-gray {
  background-color: #282F35;
}

/* .hamburger
----------------------------------------*/
.hamburger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 45px;
  height: 45px;
  border: 0;
  background-color: transparent;
}

.hamburger__line {
  position: relative;
  width: 30px;
  height: 3px;
  background-color: #fff;
}

.hamburger__line::before {
  position: absolute;
  content: "";
  display: block;
  top: -10px;
  width: 30px;
  height: 3px;
  background-color: #fff;
}

.hamburger__line::after {
  position: absolute;
  content: "";
  display: block;
  top: 10px;
  width: 30px;
  height: 3px;
  background-color: #fff;
}

/* .gnav
----------------------------------------*/
@media screen and (max-width: 699px) {
  .gnav {
    display: none;
    position: absolute;
    left: 0;
    top: 75px;
    z-index: 100;
    width: 100%;
    height: calc(100vh - 75px);
    background-color: #1B1310;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    /*iOSで慣性スクロール有効化*/
    text-align: center;
  }
}

/* .mainVisual
----------------------------------------*/
.mainVisual {
  position: relative;
}

.mainVisual__image img {
  height: 100vh;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.mainVisual__data {
  max-width: 1200px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}

.mainVisual__catch {
  color: #fff;
  font-size: 37px;
  font-weight: bold;
}

.mainVisual__text {
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  line-height: calc(50 / 30);
}

/* .concept
----------------------------------------*/
.concept {
  max-width: 1200px;
  margin: 100px auto 0;
  padding: 0 15px;
}

.concept__container {
  max-width: 1000px;
  margin: 0 auto;
}

.concept__title {
  margin-top: 55px;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  line-height: calc(30 / 20);
}

.concept__half {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.concept__text {
  font-weight: bold;
}

.concept__image {
  margin-top: 30px;
}

.concept__image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
}

/* .works
----------------------------------------*/
.works {
  margin-top: 40px;
  padding: 100px 0 40px;
  background-image: url(../images/works-bgi@2x.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.works__container {
  max-width: 1200px;
  margin: 0 auto;
}

.worksList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 50px auto 0;
}

.worksList__item {
  margin-left: 15px;
  margin-right: 15px;
  background-color: #fff;
}

.worksList__item + .worksList__item {
  margin-top: 30px;
}

.worksList__image img {
  max-width: none;
  width: 100%;
}

.worksList__text {
  width: 100%;
  padding: 28px 20px;
  font-weight: 600;
  letter-spacing: .05em;
  line-height: calc(25 / 13);
}

.works__btn {
  width: 235px;
  margin: 80px auto 0;
}

/* .service
----------------------------------------*/
.service {
  margin-top: 100px;
}

.service .level2-heading {
  margin-left: 15px;
}

.serviceList {
  margin: 80px auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.serviceList__item {
  position: relative;
}

.serviceList__item + .serviceList__item {
  margin-top: 30px;
}

.serviceList__image img {
  width: 100%;
}

.serviceList__title {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #fff;
  font-size: 20px;
  font-weight: 600;
}

/* .contact
----------------------------------------*/
.contact {
  margin-top: 64px;
  padding-top: 100px;
  padding-bottom: 140px;
  background-image: url(../images/contact-bgi@2x.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.contact__text {
  margin-top: 80px;
  font-size: 20px;
  text-align: center;
  color: #fff;
}

.contact__btn {
  width: 235px;
  margin: 30px auto 0;
}

/* .footer
----------------------------------------*/
.footer {
  padding: 30px 0;
}

.footer .copyright {
  text-align: center;
  font-size: 14px;
}

@media (min-width: 480px) {
  /******************************************************************

Stylesheet: 480px以上(スマホの横向き)のモニタで適用

******************************************************************/
}

@media (min-width: 700px) {
  /******************************************************************

Stylesheet: 600px以上のタブレットやモニタで適用

******************************************************************/
  .pc-only {
    display: block;
  }
  .sp-only {
    display: inline;
  }
  /* .hamburger
----------------------------------------*/
  .hamburger {
    display: none;
  }
  /* .gnav
----------------------------------------*/
  .gnav {
    display: block;
    position: static;
    width: auto;
    height: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .gnavList {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-bottom: 0;
  }
  .gnavList__link {
    display: block;
    padding-left: 15px;
    padding-right: 15px;
    line-height: 44px;
    color: #fff;
    border-bottom: 3px solid transparent;
    -webkit-transition: all .3s;
    transition: all .3s;
  }
  .gnavList__link:hover {
    color: #fff;
    border-bottom: 3px solid #f7d43f;
    text-decoration: none;
  }
  /* .concept
----------------------------------------*/
  .concept__title {
    font-size: 30px;
    line-height: calc(50 / 30);
  }
  .concept__half {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 60px;
  }
  .concept__text {
    width: calc((100% - 60px) / 2);
  }
  .concept__image {
    margin-top: 0;
    width: calc((100% - 60px) / 2);
  }
  /* .workList
----------------------------------------*/
  .worksList {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 1000px;
  }
  .worksList__item {
    margin: 0;
    width: calc((100% - 34px) / 3);
  }
  .worksList__item + .worksList__item {
    margin-top: 0;
  }
  /* .service
----------------------------------------*/
  .serviceList {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .serviceList__item {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .serviceList__item + .serviceList__item {
    margin-top: 0;
  }
}

@media (min-width: 960px) {
  /******************************************************************

Stylesheet: 960px以上のモニタで適用

******************************************************************/
  .level2-heading__wrapper {
    max-width: 1000px;
    margin: 0 auto;
  }
  .level2-heading__wrapper._right {
    max-width: 1200px;
  }
  .level2-heading {
    font-size: 60px;
  }
  .level2-heading::after {
    width: 200px;
  }
  .level2-heading._white {
    -webkit-box-pack: right;
        -ms-flex-pack: right;
            justify-content: right;
    margin-left: 200px;
  }
  .opacity-heading__wrapper {
    max-width: 1200px;
    margin: 0 auto;
  }
  .opacity-heading {
    font-size: 90px;
  }
  /* .header
----------------------------------------*/
  /* .mainVisual
----------------------------------------*/
  .mainVisual__data {
    max-width: 1200px;
    text-align: left;
    padding-left: 15px;
  }
  .mainVisual__catch {
    font-size: 70px;
  }
  .mainVisual__text {
    font-size: 40px;
    margin-left: 1rem;
  }
}

@media (min-width: 1280px) {
  /******************************************************************

Stylesheet: 1280px以上のモニタで適用

******************************************************************/
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  /******************************************************************

Stylesheet: Retinaディスプレイで適用

******************************************************************/
  /* 

EXAMPLE 
.icon {
	background: url(images/test@2x.png) no-repeat;
	background-size: 24px 24px;
}

*/
}

@media print {
  /******************************************************************

Stylesheet: プリンタのみに適用

******************************************************************/
}
/*# sourceMappingURL=style.css.map */