$cWhite: #fff;
$notoEN: 'Noto Serif', serif;
.notoEN-normal {
    font-family: $notoEN;
}
.notoEN-italic {
    font-family: $notoEN;
    font-style: italic;
}

.buttonM {
    display: block;
    padding: 20px;
    background-color: #F7D43F;
    text-align: center;
    color: #171717;
    border-radius: 40px;
    &:hover {
        text-decoration: none;
    }
}